/* CSS HEX */
:root{
--united-nations-blue: rgb(12, 78, 140);
--jade: #36a96eff;
--light-blue: #c0d6d9ff;
--platinum: #e2e1e2ff;
--jet: #332d2eff;
}

/* img .d-block {
    width: auto;
    height: 32rem;
} */

body {
    background-color: white;
    font-style: "lato roboto";

}

nav{
    background-color: var(--united-nations-blue);
}



#company_name, #main-nav {
    font-family: 'Roboto Mono', monospace;
    color: var(--platinum);
    font-weight: bold;
}

.carousel-item {
    /* height: 100vh; */
    min-height: 300px;
    /* background: no-repeat scroll center scroll; */
    background-size: cover;
    margin: 0;
    align-items: center;
    margin-top: 5px;
}
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 50px;
    padding: 0;
    left: 0;
    /* padding-left: 10px;
    padding-right: 50px; */
    /* margin: 0 auto; */
    /* align-items: center;
    align-content: center;
    justify-content: center; */
}

.carousel-caption h5{
    font-size: 3vh;
    font-weight: 700;
    /* align-content: center; */
    
}
.carousel-caption .container-fluid .d-sm-block h5 {
    font-size: 12px;
}

.carousel-caption p {
    font-size: 18px;
    top: 2rem;
}

.slider-btn {
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: var(--jade);
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
}

.whole-services .sub-whole-services {
    background-color: var(--light-blue);
}

.whole-services {
    font-family: "Lato";
    font-size: 24px;
    line-height: 36px;
    /* padding-left: 0;
    margin-left: 0; */
    padding: 10px;
    background-color: var(--light-blue);
}
.accordion p, .accordion-item h2 .accordion-button {
    font-family: "Lato";
    font-size: 24px;
    line-height: 36px;
    padding-left: 0;
    margin-left: 0;
    padding: 10px;
    /* background-color: var(--light-blue); */
}

.whole-services h3 {
    font-size: 48px;
    line-height: 72px;
    padding: 10px;
    margin-top: 0;
    background-color: var(--light-blue);


}

.service-btn {
    margin-bottom: 20px;
}

#faqs-image {
    height: 61vh;
    width: 60vh;
}

.btn-outline-custom {
    color: var(--united-nations-blue); /* Text color */
    border-color: var(--jade); /* Outline border color */
}

.btn-outline-custom:hover {
    background-color:var(--jade); /* Background color on hover */
    color: var(--platinum) /* Text color on hover */
}

#cleaning-supplies {
    /* width: 450px; */
    /* height: auto; */
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

#cleaning-supplies-2 {
    width: 450px;
    height: auto;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.visit-message {
    display: none;
}

/* Show the visit message on hover */
.social-icon:hover .visit-message {
    display: block;
}
.social-icon a {
    text-decoration: none;
}


#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:cadetblue;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    /* margin: 0; */
    text-align: center;
    align-items: center;
    
}
#back-to-top-btn:hover {
    background-color: var(--jet);

}
.testimonials {
    margin-top: 30px;  

}
.footer {
    background-color: var(--united-nations-blue);
}

.nav {
    justify-content: space-evenly;
}

