<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">



    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-md">

        <div class="container-fluid">
            <a href="services.html" class="navbar-brand">
                <img src="static/assets/ladachi_logo.png" alt="company logo" width="100" height="auto" class="d-none d-sm-inline-block" >
                <span id="company_name" class="text-center">LADACHI CLEANING SERVICES</span>
            </a>
            <!-- toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-center gap-3" id="main-nav">
                <a href="/" class="nav-link active">Home</a>
                <a href="/services" class="nav-link active">Services</a>
                <!-- <a href="#" class="nav-link active">Contact us</a> -->
                <a href="/about" class="nav-link active">About us</a>
            </div>
        </div>
    </nav>


    <!-- Section 1 -->
    <section class="container mt-5">
        <a href="#"><h2 id="domestic-services">Domestic Services</h2></a>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/carpet cleaning.jpg" class="card-img-top" alt="Carpet Cleaning" width="50" height="auto">
                    <div id="carpets" class="card-body">
                        <a  href="#"><h5 class="card-title">Carpet Cleaning</h5></a>
                        <p class="card-text"><span class="lead">Revitalize Your Carpets</span>
                            Is your carpet looking dull, stained, or worn out? Our professional carpet cleaning services are here to breathe new life into your carpets. Using state-of-the-art equipment and eco-friendly cleaning solutions, we'll remove stubborn stains, dust mites, and allergens, leaving your carpets looking and feeling fresh. Experience the joy of walking on clean, soft, and odor-free carpets again.</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/house cleaning.jpg" class="card-img-top" alt="House Cleaning" width="50" height="auto">
                    <div id="house" class="card-body">
                        <a href="#"><h5 class="card-title">House Cleaning</h5></a>
                        <p class="card-text"><span class="lead">Transform Your Home into a Sanctuary</span>
                            Your home should be a place of comfort and relaxation, not a constant cleaning chore. Our house cleaning services offer a helping hand to maintain a spotless and inviting living space. Our dedicated team of cleaning professionals pays meticulous attention to every corner, ensuring a deep and thorough clean. Whether you need regular upkeep, a one-time deep clean, or post-renovation cleaning, we're here to make your home a clean and welcoming sanctuary.
                            </p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/carwash.jpg" class="card-img-top" alt="Car Wash">
                    <div id="carwash" class="card-body">
                        <a href="#"><h5 class="card-title">Car Wash</h5></a>
                        <p class="card-text"><span class="lead">Shine On, Drive On</span>
                            Your car is more than just a mode of transportation; it's a reflection of your style and personality. Our car wash services provide the care and attention your vehicle deserves. From exterior washes that remove dirt and grime to interior detailing that restores that "new car" feel, we offer a range of services to suit your needs. Drive with pride in a sparkling, clean car that turns heads wherever you go.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2 (Similar to Section 1) -->
    <section class="container mt-5">
        <a href="#"><h2 id="commercial-services">Commercial Services</h2></a>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/carousel/slide3.jpg" class="card-img-top" alt="Office Cleaning">
                    <div class="card-body">
                        <h5 class="card-title display-6 fw-bold">Office Cleaning</h5>
                        <p class="card-text"><span class="lead">Elevate Your Workspace: </span>
                            A clean and well-organized office is essential for productivity and employee well-being. Our office cleaning services are designed to elevate your workspace to the next level. We provide comprehensive cleaning solutions for offices of all sizes. From daily maintenance to specialized services like carpet cleaning and window washing, we're dedicated to creating a pristine and professional office environment. Boost employee morale and leave a lasting impression on clients with our top-notch office cleaning.
                            </p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/window cleaning.jpg" class="card-img-top" alt="Industrial Cleaning">
                    <div class="card-body">
                        <h5 class="card-title">Industrial</h5>
                        <p class="card-text"><span class="lead">Maintaining Efficiency, Ensuring Safety</span>
                            Industrial facilities require specialized cleaning solutions to keep operations running smoothly and safely. Our industrial cleaning services are tailored to the unique needs of your facility, whether it's a manufacturing plant, warehouse, or industrial complex. Our experienced team is equipped to handle tough challenges, from heavy machinery cleanup to hazardous material disposal. We're committed to maintaining efficiency and ensuring a safe working environment for your team.</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/institution.jpg" class="card-img-top" alt="Institution">
                    <div class="card-body">
                        <h5 class="card-title">Institution</h5>
                        <p class="card-text"><span class="lead">Cleanliness for Learning and Healing</span>
                            Institutions such as schools, healthcare facilities, and government buildings play vital roles in our communities. Our institutional cleaning services are focused on maintaining the highest standards of cleanliness and hygiene. We understand the importance of creating a safe and welcoming environment for students, patients, and the public. With our experienced staff and specialized cleaning protocols, we ensure that your institution remains a place of learning, healing, and public trust.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 3 (Similar to Section 1) -->
    <section class="container mt-5">
        <a href="#"><h2 id="special-services">Special Services</h2></a>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/deep cleaning.jpg" class="card-img-top" alt="deep Cleaning">
                    <div class="card-body">
                        <h5 class="card-title">deep Cleaning</h5>
                        <p class="card-text"><span class="lead">Restore Freshness, Rejuvenate Your Space</span>
                            Deep cleaning goes beyond the regular maintenance cleaning to give your space a thorough and revitalizing makeover. Our deep cleaning services target every nook and cranny, from high-touch surfaces to hidden corners. We meticulously clean, disinfect, and sanitize your home or business, leaving it immaculate and refreshed. Say goodbye to built-up grime and hello to a healthier, more inviting environment with our comprehensive deep cleaning solutions.</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/post construction.jpg" class="card-img-top" alt="Post construction">
                    <div class="card-body">
                        <h5 class="card-title">Post construction</h5>
                        <p class="card-text"><span class="lead">The Final Touch on Your Project</span>
                            After the excitement of a construction or renovation project, there's often a mess left behind. Our post-construction cleaning services provide the finishing touch your project deserves. Our experienced team specializes in removing construction debris, dust, and residue, leaving your newly transformed space pristine and ready for occupancy. From removing paint splatters to polishing surfaces, we ensure your space is move-in ready.</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card">
                    <img src="static/assets/services/moving.jpg" class="card-img-top" alt="move-in/move-out">
                    <div class="card-body">
                        <h5 class="card-title">move-in/move-out</h5>
                        <p class="card-text"><span class="lead">Seamless Transitions, Spotless Spaces</span>
                            Moving can be a stressful process, but our moving in or out cleaning services make it easier. When you're moving into a new home, we ensure that every corner is cleaned and sanitized, so you can start fresh. If you're moving out, we leave your previous residence in impeccable condition, helping you secure your security deposit or leave a positive impression for the new occupants. Let us take care of the cleaning, so you can focus on the excitement of your new journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <!-- footer -->

    <div class="footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
            <a href="static/assets/ladachi_logo.png" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 keychainify-checked">
                <img src="static/assets/ladachi_logo.png" width="30" height="24" alt="Description of your image">
            </a>

            <span class="mb-3 mb-md-0 text-white">&copy; 2023 Lachadi cleaning services</span>
            </div>

            <ul class="nav col-md-4 justify-content-evenly list-unstyled d-flex ">
            <li class="ms-3"><a href="#" class="fa fa-facebook text-white " width="24" height="24"></a></li>
            <li class="ms-3"><a href="#" class="fa fa-twitter text-white" width="24" height="24"></a></li>
            <li class="ms-3"><a href="#" class="fa fa-instagram text-white" width="24" height="24"></a></li>
            </ul>

        </footer>
        </div>
        <div id="backtopbtn">
            <button id="back-to-top-btn" class="border-3 btn-outline-custom"><span id="backtotop">&#8593;</span></button>
        </div>

      <!-- <button id="back-to-top-btn" class="border-3 btn-outline-custom"><span id="backtotop">&#8593;</span></button> -->


    <!-- Add Bootstrap JS and jQuery here (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
